@charset "UTF-8";
#viewerCanvas {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    #viewerCanvas {
        height: 50vh; /* Adjust height for small screens */
    }
}